{
  "openapi": "3.1.0",
  "info": {
    "title": "ScaleDown API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.scaledown.xyz"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "paths": {
    "/compress/raw/": {
      "post": {
        "summary": "Compress",
        "description": "Compress a prompt and context to reduce token usage while preserving semantic meaning.",
        "operationId": "compress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["context", "prompt", "scaledown"],
                "properties": {
                  "context": {
                    "type": "string",
                    "description": "Background information, instructions, or supporting text that provides context for the prompt."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The main query or question to send to your AI model."
                  },
                  "scaledown": {
                    "type": "object",
                    "required": ["rate"],
                    "properties": {
                      "rate": {
                        "type": "string",
                        "description": "Compression aggressiveness. Use 'auto' or a number between 0 and 1 (e.g. '0.5')."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful compression",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "compressed_prompt": { "type": "string" },
                    "original_prompt_tokens": { "type": "number" },
                    "compressed_prompt_tokens": { "type": "number" },
                    "successful": { "type": "boolean" },
                    "latency_ms": { "type": "number" },
                    "request_metadata": {
                      "type": "object",
                      "properties": {
                        "compression_time_ms": { "type": "number" },
                        "compression_rate": {
                          "oneOf": [
                            { "type": "string" },
                            { "type": "number" }
                          ]
                        },
                        "prompt_length": { "type": "number" },
                        "compressed_prompt_length": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Malformed request body or missing required fields." },
          "401": { "description": "Missing or invalid x-api-key." },
          "429": { "description": "Rate limit exceeded." },
          "500": { "description": "Compression service unavailable." }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Extract",
        "description": "Extract named entities from text using a custom-defined schema.",
        "operationId": "extract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text", "entities"],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The input text to extract entities from."
                  },
                  "entities": {
                    "type": "object",
                    "description": "A mapping of entity type names to their definition.",
                    "additionalProperties": {
                      "oneOf": [
                        { "type": "string" },
                        {
                          "type": "object",
                          "properties": {
                            "description": { "type": "string" },
                            "threshold": { "type": "number" },
                            "top_n": { "type": "number" }
                          }
                        }
                      ]
                    }
                  },
                  "threshold": {
                    "type": "number",
                    "default": 0.5,
                    "description": "Global confidence threshold (0–1)."
                  },
                  "top_n": {
                    "type": "number",
                    "default": 0,
                    "description": "Global limit on results per entity type. 0 returns all above threshold."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": { "type": "string" },
                          "type": { "type": "string" },
                          "confidence": { "type": "number" },
                          "start": { "type": "number" },
                          "end": { "type": "number" },
                          "context": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Malformed request body or missing required fields." },
          "401": { "description": "Missing or invalid x-api-key." },
          "429": { "description": "Rate limit exceeded." },
          "500": { "description": "Inference service unavailable." }
        }
      }
    },
    "/classify": {
      "post": {
        "summary": "Classify",
        "description": "Score text against a set of user-defined labels and return a softmax-normalised probability distribution.",
        "operationId": "classify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text", "labels"],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text to classify."
                  },
                  "labels": {
                    "type": "array",
                    "description": "One or more label definitions. Must contain at least one item.",
                    "items": {
                      "type": "object",
                      "required": ["name", "rubric"],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Short identifier for the label (e.g. \"medical\", \"billing\"). Used as the key in the scores response object."
                        },
                        "rubric": {
                          "type": "string",
                          "description": "A yes/no question the model uses to score the label. Phrased so that a \"yes\" answer means the label applies."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful classification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "top_label": {
                      "type": "string",
                      "description": "Name of the highest-scoring label."
                    },
                    "scores": {
                      "type": "object",
                      "description": "Map of label name to probability score. All values sum to 1.0.",
                      "additionalProperties": { "type": "number" }
                    },
                    "labels": {
                      "type": "array",
                      "description": "Full label list with name, score, and rubric, in the same order as the request.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": { "type": "string" },
                          "score": { "type": "number" },
                          "rubric": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": { "description": "Malformed request body or empty labels array." },
          "502": { "description": "Model service unavailable or returned an error." }
        }
      }
    },
    "/v1/scaledown": {
      "post": {
        "summary": "Decisions",
        "description": "Jev (TypeSafe)-compatible endpoint: answer typed choice/noul/score questions about a shared state object.",
        "operationId": "decisions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["state", "questions"],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": ["classify-1"],
                    "default": "classify-1",
                    "description": "Optional. \"classify-1\" is the only supported value and also the default when omitted. Any other value returns 422."
                  },
                  "state": {
                    "type": "object",
                    "description": "The item being decided on. Provide text, document, or both.",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The text to evaluate every question against."
                      },
                      "document": {
                        "type": "string",
                        "description": "A base64-encoded file to evaluate (image or PDF). Non-standard extension, not part of the Jev API."
                      },
                      "document_mime_type": {
                        "type": "string",
                        "description": "MIME type of document. Required when document is provided."
                      }
                    }
                  },
                  "questions": {
                    "type": "object",
                    "description": "Map of question name to question definition. Must contain at least one entry.",
                    "additionalProperties": {
                      "type": "object",
                      "required": ["type"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["choice", "noul", "score"],
                          "description": "choice: pick one option from criteria. noul: independent yes/no question. score: never evaluated — answered as unsupported if the request also has a choice/noul question, or causes the whole request to fail with 422 if every question is score."
                        },
                        "instructions": {
                          "type": "string",
                          "description": "Optional guidance for how to answer the question."
                        },
                        "criteria": {
                          "type": "object",
                          "description": "Required for choice questions: map of option key to description. At least one entry required.",
                          "additionalProperties": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful decision",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "description": "Always \"classify-1\"."
                    },
                    "answers": {
                      "type": "object",
                      "description": "Map of question name to typed answer, matching the questions keys from the request.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["choice", "noul", "unsupported"]
                          },
                          "choice": {
                            "type": "string",
                            "description": "choice answers only: the chosen option key."
                          },
                          "probabilities": {
                            "type": "object",
                            "description": "choice answers only: map of option key to probability. Sums to 1.0.",
                            "additionalProperties": { "type": "number" }
                          },
                          "confidence": {
                            "type": "number",
                            "description": "choice answers only: the chosen option's probability."
                          },
                          "noul": {
                            "type": "number",
                            "description": "noul answers only: P(yes), 0 to 1."
                          },
                          "reason": {
                            "type": "string",
                            "description": "unsupported answers only: why this question type isn't answered."
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage and cost, summed across every internal call the request fanned out to.",
                      "properties": {
                        "input_tokens": { "type": "integer" },
                        "output_tokens": { "type": "integer" },
                        "cost": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": { "description": "Insufficient credits." },
          "422": { "description": "Malformed request body, empty questions map, empty criteria on a choice question, neither state.text nor state.document provided, every question in the request is type score, an unsupported model value, or OCR failed." },
          "502": { "description": "Model service unavailable or returned an error." },
          "504": { "description": "Request timed out." }
        }
      }
    },
    "/summarization/abstractive": {
      "post": {
        "summary": "Summarize",
        "description": "Produce an abstractive summary of a block of text.",
        "operationId": "summarize",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The input text to summarize."
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Optional additional rules for the summary."
                  },
                  "max_tokens": {
                    "type": "number",
                    "default": 20048,
                    "description": "Maximum number of tokens in the generated summary."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful summarization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": { "type": "string" },
                    "input_chars": { "type": "number" },
                    "output_chars": { "type": "number" },
                    "latency_ms": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": { "description": "Malformed request body or missing required fields." },
          "401": { "description": "Missing or invalid x-api-key." },
          "429": { "description": "Rate limit exceeded." },
          "500": { "description": "Inference service unavailable." }
        }
      }
    }
  }
}
